.pokemon {
    width: 300px;
    height: auto;
    padding: 15px 0px;
    margin: 5px 5px;
    border-radius: 1rem;
    background-color: var(--text);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    cursor: pointer;
}

.pokemon:hover{
    box-shadow: 0 0 3rem -1rem var(--shadowCard);
}

.pokemon:hover img{
    transform: scale(1.2);
}

.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gray);
}

.pokemon-image {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-image img {
    width: 100%;
    max-width: 6rem;
    transition: transform 0.5s;
}


.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre-container {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: var(--clr-text);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.pokemon-name {
    font-size: 1.4rem;
    color: var(--background);
}

.pokemon-types {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat {
    background-color: var(--clr-text);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}

.water {
    background-color: var(--type-water);
    color: var(--clr-white);
}

.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}

.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}

.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}

.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}

.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}

.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}

.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);
}

.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}

.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}

.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}

.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}

.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}

@media screen and (max-width:700px) {

    .pokemon {
        width: 200px;
        height: auto;
        padding: 15px 0px;
        margin: 5px 5px;
        border-radius: 1rem;
        background-color: var(--text);
        box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
        text-transform: uppercase;
        position: relative;
        isolation: isolate;
        overflow: hidden;
    }

    .pokemon-id-back {
        font-size: 4rem;
    }
    
    .pokemon-id {
        font-size: .75rem;
    }
    
    .pokemon-name {
        font-size: 1rem;
    }
    
    .pokemon-types {
        font-size: .6rem;
    }
    
    .pokemon-stats {
        font-size: .65rem;
    }

}
