.seccion-perfil-usuario, .perfil-usuario-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-height: 58vh;
}

.perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, var(--scroll), var(--mode-hover));
    border-radius: 0 0 20px 20px;
}

.boton-editar {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.boton-editar:hover {
    background-color: var(--mode-hover);
}

.boton-cerrar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.boton-cerrar:hover {
    background-color: var(--scroll);
}


.perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px var(--shadow);
    background-color: var(--text);
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

/* adactacion a dispositivos */
@media (max-width: 1050px) {

    .seccion-perfil-usuario .perfil-usuario-body,
    .seccion-perfil-usuario {
    min-height: 55vh;
}

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 90%;
    }
}


/* :root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
} */

/* 
*, *:before, *:after {
box-sizing: inherit;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 326px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header {
        width: 100%;
        display: block;
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(153, 153, 153, 0.383);
    }

        .img {
            border: 5px solid white;
            border-radius: 50%;
            margin-top: calc(-48px - 5px);
            background-color: white;
            object-fit: cover;
        }

        .title {
            margin-top: 2rem;
            font-size: 1.8rem;


        }

        span {
            color: var(--dark-gray);
            font-weight: 400;
        }

        .text {
            color: var(--dark-gray);
            font-size: 1.6rem;
            margin-top: 0;
            margin-bottom: 2rem;
        }



    .footer {
        display: flex;
        justify-content: space-around;
    }

        .social {
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

            p {
                letter-spacing: 1px;
            }
 */