<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">  
            <div class="perfil-usuario-avatar">
                <img *ngIf="profile && profile.avatar" [src]="profile.avatar" alt="img-avatar">
            </div>
            <button class="boton-cerrar" (click)="logout()">
                <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión 
            </button>
            <button type="button" class="boton-editar" (click)="dialogFormEdit(profile)">
                <i class="fa-solid fa-pencil"></i> Editar perfil
            </button>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 *ngIf="profile && profile.name" class="titulo">{{profile.name}}</h3>
        </div>
        <div class="perfil-usuario-footer">
            <div>
                <h3>Información personal</h3>
                <ul class="lista-datos">
                    <li *ngIf="profile && profile.email"><i class="icono fa-solid fa-envelope"></i> Email: {{profile.email}}</li>
                </ul>
            </div>
            <div>
                <h3>Pokemones favoritos</h3>
                <ul class="lista-datos">
                </ul>
            </div>
<!--             <button type="button" class="boton-editar" (click)="dialogField()">
                <i class="fa-solid fa-pencil"></i> Agregar pokemon
            </button> -->
        </div>
    </div>
</section>