.seccion-perfil-usuario, .perfil-usuario-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-height: 58vh;
}

.perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, var(--scroll), var(--mode-hover));
    border-radius: 0 0 20px 20px;
}

.boton-editar {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.boton-editar:hover {
    background-color: var(--mode-hover);
}

.boton-cerrar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.boton-cerrar:hover {
    background-color: var(--scroll);
}


.perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px var(--shadow);
    background-color: var(--text);
    border-radius: 15px;
    width: 100%;
    justify-content: space-between;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

/* adactacion a dispositivos */
@media (max-width: 1050px) {

    .seccion-perfil-usuario .perfil-usuario-body,
    .seccion-perfil-usuario {
    min-height: 55vh;
}

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 90%;
    }
}
