h5 {
    margin: 0;
    text-align: center;
    font-size: 20px;
}
  
p {
    margin: 15px;
}
  
.form-register {
    width: 400px;
    min-height: 100px;
    overflow: hidden;
    display:block;
    margin: auto;
    background: #ffffff;
    padding: 20px 10px;
    color: rgb(0, 0, 0);
}
  
.field-section {
    padding-top: 5px;
    padding-bottom: 5px;
}
  
.field-section span {
    font-size: 12px;
    color: red;
}
  
.controls {
    width: 100%;
    border: 1px solid var(--clr-black);
    border-radius: 10px;
    padding: 11px 10px;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
}
  
.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
  
.radioButton{
    color: #000;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-register p{
    height: 40px;
    text-align: center;
}

.form-register a {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

@media screen and (max-width:700px) {
    .form-register {
        width: 300px;
        height: 700px;
    }
}